#---Backend(Spring Boot / Maven) ---
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# IDE settings
backend/.idea/
backend/.classpath
backend/.project
backend/.settings/
backend/*.iml

# --- Frontend(Vite / Node) ---
frontend/node_modules/
frontend/dist/
frontend/.vite/

# --- OS files ---
.DS_Store

# --- Logs ---
*.log

# --- Environment files ---
.env
.env.local

# --- Docker ---
*.pid