spring:
  application:
    name: backend

  datasource:
      url: jdbc:mysql://mysql:3306/workinsight
      username: root
      password: root
  jackson:
    time-zone: Asia/Tokyo
  jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true

jwt:
    secret: ThisIsSuperSecureJwtSecretKey1234567890
    expiration: 3600000
