spring:
  application:
    name: backend

  datasource:
      username: root
      password: root
    
  jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql:true

jwt:
    secret: ThisIsSuperSecureJwtSecretKey1234567890
    expiration: 3600000
